table(border="1" ng-repeat="(key, value) in differences")
    caption {{ value.page }}
    thead 
        th Index
        th File1Value
        th File2Value
    tr(ng-repeat="(key, value) in value.idexes")
        td {{value.index}}
        td {{value.file1Value.value}}
        td {{value.file2Value.value}}

