.md-padding
    md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")
      md-nav-item(md-nav-sref="main"  name="main") Home
      md-nav-item(md-nav-sref="main.compare" name="compare") Compare Excel
      md-nav-item(md-nav-sref="main.compareCsv" name="compareCsv") Compare CSV
      



